.player-clicks-box {
  background-color: antiquewhite;
}

.podium-points-text {
  margin-top: 0px;
  font-size: small;
}

.delete-match-button {
  width: 1.5rem;
  padding: 0px !important;
  position: absolute;
  left: 0px;
}

.winner {
  background-color: rgb(209, 240, 180);
  border: solid white 1px;
  border-radius: .5rem;
  box-sizing: border-box;
  position: relative;
}

.points-popup {
  visibility: hidden;
  opacity: 0;
  padding-inline: 4px;
  background-color: rgb(20, 120, 20);
  color: white;
  font-weight: bold;
  border-radius: 6px;
  position: absolute;
  left: 110%;
  transform: translateX(0%); /* Is this necessary? */
  transition:
    opacity .2s,
    transform .2s;
}

.winner:hover .points-popup {
  visibility: visible;
  transform: translateX(10%);
  opacity: 1;
}

.place-1-card {
  background-color: rgb(255, 223, 43) !important;
}

.place-2-card {
  background-color: rgb(213, 233, 233) !important;
}

.place-3-card {
  background-color: rgb(179, 127, 61) !important;
}

.add-button {
    
}

.start-wiki-field, .goal-wiki-field {
  width: 10rem;
}

.player-clicks-field {
  width: 3.5rem;
}