.podium-points-text {
  margin-top: 0px;
  font-size: small;
}

.winner {
  background-color: rgb(144, 207, 84);
  border: solid white 1px;
  border-radius: .25rem;
  box-sizing: border-box;
  position: relative;
}

.points-popup {
  opacity: 0;
  padding-inline: 4px;
  background-color: rgb(20, 120, 20);
  color: white;
  font-weight: bold;
  border-radius: 4px;
  text-align: center;
  position: absolute;
  left: 110%;
  transform: translateX(0%); /* Is this necessary? */
  transition:
    opacity .2s,
    transform .2s;
}

.winner:hover .points-popup {
  transform: translateX(10%);
  opacity: 1;
}

.card {
    /* box-shadow: 2px 2px 4px rgba(0, 0, 0, .25); */
}

.place-1-card {
  background-color: rgb(255, 223, 43) !important;
}

.place-2-card {
  background-color: rgb(213, 233, 233) !important;
}

.place-3-card {
  background-color: rgb(179, 127, 61) !important;
}

.add-button {
    
}

.start-wiki-field, .goal-wiki-field {
  width: 10rem;
}

.player-clicks-field {
  width: 3rem;
}